@import '../../../scss/abstracts/variables';
@import '../../../scss/abstracts/mixins';

.authform {

    &__container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 100%;
    }

    &-inputs_container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    &-input {
        border-radius: 2rem;
        padding: 1.4rem;
        border: 0.1rem solid $text-gray-light;
        font-size: 1.6rem
    }

    &-button {
        @include button;
        font-size: 1.6rem;
        
    }

    &-others {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        justify-content: center;
        align-items: center;
        width: 100%;

        &-paragraph {
            color: $text-gray-light;
            font-size: 1.5rem;
        }

        &-google-button {
            zoom: 120%;
        }

        @media screen and (min-width: 1650px) {
            &-google-button {
                zoom: 100%;
            }
        }
    }
}