<form class="authform__container" action="" method="post">
    <h1 class="authform-title">{{type}}</h1>
    <div class="authform-data">
        <input class="authform-data-input" type="email" placeholder="digite seu email">
        <input class="authform-data-input" type="password" placeholder="digite sua senha">
        <input class="authform-data-input" type="password" placeholder="confirme sua senha">
        <input class="authform-data-button" type="submit" value="Cadastrar">
    </div>
</form>
