@import '../../../scss/abstracts/variables';
@import '../../../scss/abstracts/mixins';

.authform {

    &__container {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        width: 100%;
    }

    &-inputs_container {
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
    }

    &-input {
        border-radius: 2rem;
        font-size: 1.6rem;
        padding: 1.6rem;
        border: 0.1rem solid $text-gray-light;
    }

    &-button {
        @include button;   
    }

    &-others {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        justify-content: center;
        align-items: center;

        &-paragraph {
            color: $text-gray-light;
            font-size: 1.6rem;
        }
    }

    @media screen and (max-width: 480px) {
        &-inputs_container {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            align-items: center;
        }

        &-input {
            border-radius: 2rem;
            padding: 1.4rem;
            border: 0.1rem solid $text-gray-light;
            width: 100%;
            font-size: 1.5rem;
        }

        &-others {
            gap: 1.5rem;
           
            &-paragraph {
                text-align: center;
                font-size: 1.5rem;
            }
        }
    }
}