@keyframes slideToTop {
    0% {
        transform: translateY(10rem);
        opacity: 0;
    }

    100% {
        transform: translateY(0rem);
        opacity: 1;
    }
}

@keyframes slideToDown {
    0% {
        transform: translateY(-10rem);
        opacity: 0;
    }

    100% {
        transform: translateY(0rem);
        opacity: 1;
    }
}

@keyframes dashToRight {
    0% {
        transform: translateX(-10rem);
        opacity: 0;
    }

    100% {
        transform: translateX(0rem);
        opacity: 1;
    }
}

@keyframes dashToLeft {
    0% {
        transform: translateX(10rem);
        opacity: 0;
    }

    100% {
        transform: translateX(0rem);
        opacity: 1;
    }
}

@keyframes slideToRight {
    
    0% {
        left: 100%;
    }

    100% {
        left: 0;
    }

}

@keyframes slideToLeft {
    
    0% {
        left: 0;
    }

    100% {
        left: 100%;
    }

}

@keyframes increaseSubilinear {
    0% {
        width: 0%;
    }

    70% {
        width: 120%;
    }

    100% {
        width: 100%;
    }
}

@keyframes openAside {
    0% {
        right: -30%;
        opacity: 0;
    }

    100% {
        right: 0%;
        opacity: 1;
    }
}

@keyframes closeAside {
    0% {
        right: 0%;
        opacity: 1;
    }

    100% {
        right: -30%;
        opacity: 0;
    }
}

@keyframes openAsideMobile {
    0% {
        right: -90%;
        opacity: 0;
    }

    100% {
        right: 0%;
        opacity: 1;
    }
}

@keyframes closeAsideMobile {
    0% {
        right: 0%;
        opacity: 1;
    }

    100% {
        right: -90%;
        opacity: 0;
    }
}

