* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background: darken(white, 10%);
}

@media screen and (min-width: 1000px) and (max-width: 1600px) {
    body {
        zoom: 80%;
    }
}