<section class="benefits__container">
    <h2 class="benefits__container-title">
        Beneficios
    </h2>
    <p class="benefits__container-paragragh">
        Desfrute dos inúmeros benefícios ao escolher nossa aplicação para aprimorar seus estudos. Oferecemos opções excepcionais para otimizar sua preparação, adaptando-se às suas necessidades acadêmicas. Consulte-nos para descobrir os benefícios exclusivos que impulsionarão seu progresso e sucesso no ENEM.
    </p>
    <ul class="benefits__container-list">
        <li class="benefits__container-list-item">
            <h3 class="benefits__container-list-item-title">Personalização do Estudo</h3>
            <img class="benefits__container-list-item-image" src="../../../../../assets/images/learning_10616082.png" alt="">
        </li>
        <li class="benefits__container-list-item">
            <h3 class="benefits__container-list-item-title">Economia de Tempo</h3>
            <img class="benefits__container-list-item-image" src="../../../../../assets/images/stopwatch_7184841.png" alt="">
        </li>
        <li class="benefits__container-list-item">
            <h3 class="benefits__container-list-item-title">Facilidade de Uso</h3>
            <img class="benefits__container-list-item-image" src="../../../../../assets/images/cut_10210284.png" alt="">
        </li>
        <li class="benefits__container-list-item">
            <h3 class="benefits__container-list-item-title">Inovação Educacional</h3>
            <img class="benefits__container-list-item-image" src="../../../../../assets/images/lightbulb_3061022.png" alt="">
        </li>
    </ul>
</section>