@import '../../../../../scss/abstracts/variables';
@import '../../../../../scss/abstracts/mixins';

.benefits {
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4rem;
        padding-top: 2rem;

        &-paragragh {
            @include paragraph;
            text-align: center;
            padding: 2rem 5%;
        }

        &-list {
            display: flex;
            flex-direction: column;
            list-style: none;
            width: 100%;
            gap: 2rem;

            &-item {
                display: flex;
                width: 100%;
                justify-content: space-between;
                align-items: center;
                padding: 4rem;
                border-radius: 2rem;
                height: 20rem;
                overflow: hidden;

                
                &-title {
                    font-size: 2.5rem;
                    transition: all .2s;
                }

                

                &-image {
                    width: 13%;
                    margin-bottom: -10rem;
                    transition: all .2s;
                    transform: rotateZ(-10deg);
                }

                &:hover {
                    

                    .benefits__container-list-item-image {
                        transform: scale(1.05) rotateZ(-10deg) translateY(-4rem) translateX(-2rem) scale(1.05);
                    }

                    .benefits__container-list-item-title {
                        transform: scale(1.05)  translateX(4rem);
                    }
                }

                &:nth-child(1) {
                    background-color: #C2FBD8;
                }

                &:nth-child(2) {
                    background-color: #FDD230;
                }

                &:nth-child(3) {
                    background-color: #BFDBFE;
                }

                &:nth-child(4) {
                    background-color: #f19090;
                }
            }
        }
    }

    @media screen and (max-width: 480px) {
        &__container {

            &-paragraph {
                text-align: justify;
            }

            &-list {
                &-item {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    padding: 2rem;
                    position: relative;

                    &-title {
                        font-size: 2rem;
                        text-align: left;
                    }

                    &-image {
                        width: 45%;
                        margin-bottom: -8rem;
                        position: absolute;
                        right: 0%;
                        transition: all .2s;
                        transform: rotateZ(-10deg);
                    }

                    &:nth-child(2) {
                       .benefits__container-list-item-image {
                            width: 53%;
                            right: -7%;
                       }
                    }

                    
                }
            }
        }
    }
}