@import './variables';

@mixin paragraph {
    font-size: 1.73rem;
    color: $text-color;
    line-height: 3rem;
}


@mixin button {
    padding: 1.2rem 3rem;
    width: fit-content;
    border-radius: 5rem;
    transition: 200ms;

    &-primary-color {
        background: linear-gradient(90deg, rgba(145,129,244,1) 0%, rgba(80,56,237,1) 100%);
        color: white;
    }


    &-colored:hover {
        transform: translateY(-0.3rem);
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }

    @media screen and (max-width: 480px) {
        font-size: 1.5rem;
    }
  
    &:hover {
        transform: translateY(-0.3rem);
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }

}