<div class="login__container">
    <div class="form__container">
        <app-auth-form type="Login" style="width: 100%"></app-auth-form>
    </div>

    <div class="login-decoration">
        <div class="login-decoration-informations">
            <img src="../../../assets/images/college project-pana (2).svg" alt="">
            <p class="login-decoration-informations-subtitle">Estude melhor com</p>
            <h1 class="login-decoration-informations-title">GPT4ENEM</h1>
        </div>
    </div>
</div>