@import '../../../scss/abstracts/variables';

.login {
    &__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: darken($color-white, 15%);
        padding: 0 $padding-sides;
        min-height: 100vh;
        align-items: center;
        justify-content: center;
    }

    @media screen and (min-width: 1200px) and (max-width: 1600px) {
        &__container {
            min-height: 125vh;
        }
    }


    &-decoration {
        display: flex;
        align-items: center;
        padding: 10rem;
        width: 100%;
        height: 80%;
        border-radius: 0 2rem 2rem 0rem;
        background: url("../../../assets/images/auth-bg.svg") no-repeat;
        background-size: cover;


        &-informations {
            width: 100%;
            height: 100%;
            display: flex;
            padding: 2rem;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border: 1px solid rgba(255, 255, 255, .25);
            border-radius: 20px;
            background-color: rgba(255, 255, 255, 0.45);
            box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
            backdrop-filter: blur(5px);


            &-title, &-subtitle {
                color: $color-white;
            }
        }
    }
}