  <div class="register__container">
    <div class="form__container">
        <app-auth-form type="Registro" style="width: 100%"></app-auth-form>
    </div>
    <div class="register-decoration">
        <div class="register-decoration-informations">
            <img src="../../../assets/images/Sign_up-pana.svg" alt="">
            <p class="register-decoration-informations-subtitle">Registrando para o sucesso com</p>
            <h1 class="register-decoration-informations-title">GPT4ENEM</h1>
    </div>
</div>

