<header class="header__container">
    <div class="header-informations">
        <h1 class="header-informations-title">Potencialize seu <span class="header-informations-title-distint">Estudo</span> para o ENEM com o <span class="header-informations-title-distint">GPT4ENEM</span></h1>

        <app-paragraph text="Nosso aplicativo revolucionário oferece suporte educacional progressivo e acessível para o ENEM, disponível tanto em dispositivos móveis quanto online, para todos que buscam excelência acadêmica."></app-paragraph>
         
        <app-link linkUrl="/login" linkText="Faça Já seu Teste"></app-link>
    </div>
    
    <div class="header-image">
        <img src="../../../../../assets/images/Education-pana.svg" alt="">
    </div>
</header>