.header {
    @media screen and (min-width: 1600px) {
        &__container {
            height: 70vh;
        }
    }
    @media screen and (max-width: 480px) {
        &__container {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            height: 80vh;
            gap: 0rem;
        }

        &-informations {
            order: 2;
            text-align: justify;
            align-items: center;
            margin-top: 0rem;

            &-title {
                font-size: 2.4rem;
                line-height: 3rem;
                text-align: center;
            }
    
        }
    }
}