@import '../../../../../scss/abstracts/variables';
@import '../../../../../scss/abstracts/mixins';
@import '../../../../../scss/base/animations';

.header {
    &__container {
        display: grid;
        grid-template-columns: 1fr 1.7fr;
        height: 85vh;
        align-items: center;
        gap: 10rem;
    }

    @media screen and (min-width: 1600px) {
        &__container {
            height: 70vh;
        }
    }

    &-informations {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
        animation: .8s dashToRight ease-in-out;
    

        &-title {
            font-size: 3.5rem;
            line-height: 5rem;

            &-distint {
                color: $color-highlight
            }
        }

        &-button {
            @include button;
            text-decoration: none;
        }
    }

    &-image {
        width: 100%;
        text-align: center;
        animation: .6s dashToLeft ease-in-out;
        & img {
            width: 100%;
        }
    }

    @media screen and (max-width: 480px) {
        &__container {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            height: 80vh;
            gap: 0rem;
        }

        &-informations {
            order: 2;
            text-align: justify;
            align-items: center;
            margin-top: 0rem;

            &-title {
                font-size: 2.4rem;
                line-height: 3rem;
                text-align: center;
            }
    
        }
    }
}