<div class="footer__container">
    <div class="footer-company-information">
        <h1 class="footer-company-information-title">
            GPT4ENEM
        </h1>

        <p class="footer-company-information-paragraph">
            Nosso projeto oferece educação progressiva e acessível, disponível em dispositivos móveis e online para todos os estudantes. Potencialize sua jornada acadêmica conosco, independentemente de onde você esteja ou do seu acesso à internet.
        </p>

        <span class="footer-company-paragraph">
            ©GPT4ENEM LTD 2024. All rights reserved
        </span>
    </div>

    <div class="footer-list">

        <div class="footer-list-page">
            <h4>Companhia</h4>

            <a href="">sobre</a>
            <a href="">serviços</a>
            <a href="">testemunhas</a>
        </div>

        <div class="footer-list-region">
            <h4>Região</h4>

            <a href="">Brasil</a>
        </div>

        <div class="footer-list-help">
            <h4>Suporte</h4>

            <a href="">Central de suporte</a>
            <a href="">Contato do suporte</a>
            <a href="">Instruções</a>
        </div>

    </div>
</div>