<div class="landing-page__container">
    <app-navbar></app-navbar>
    <app-header></app-header>
    <app-our-services id="our-services"></app-our-services>
    <app-highlight id="about" title="Sua Jornada para o Sucesso no ENEM Começa Aqui" paragraph="Parceiros na busca pelo sucesso no ENEM, nossa aplicação é mais que estudo: é um compromisso com seus sonhos acadêmicos. Estude de maneira acessível, com suporte inteligente em qualquer lugar. Junte-se a nós para construir seu caminho educacional de sucesso." imageUrl="../../../../../assets/images/Learning-pana.svg" [reverseStyle]="false"></app-highlight>
    <app-highlight title="Potencialize Seus Estudos com Recursos Sob Medida para o ENEM" paragraph="Explore nossa plataforma única para uma preparação acadêmica excepcional. Com resumos eficientes, transcrição de áudios e verificação de conteúdo do ENEM via YouTube, moldamos seu sucesso educacional. Acesse recursos personalizados para uma preparação inovadora e eficaz." imageUrl="../../../../../assets/images/Freelancer-pana.svg" [reverseStyle]="true"></app-highlight>
    <app-benefits id="benefits"></app-benefits>
</div>