@import '../../../scss/abstracts/variables';
@import '../../../scss/abstracts/mixins';

.landing-page {
    &__container {
        display: flex;
        flex-direction: column;
        padding: 0% 10%;
        padding-bottom: 5%;
    }
}