@import '../../../../../scss/abstracts/mixins';
@import '../../../../../scss/abstracts/variables';

.service-form {
    &__container {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        gap: 2rem;
        justify-content: center;
        align-items: center;

        &-input {
            padding: 1.5rem;
            border-radius: 2rem;
            font-size: 1.6rem;
            border: none;
            width: 50rem;
            text-align: center;
            background: transparent;
            border: .1rem solid black;
        }

        &-button {
            border: none;
            font-size: 1.6rem;
            font-weight: 500;
            @include button;
        }

        &-list {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            list-style: none;
            gap: 5rem;

            &-service {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 1rem;
                width: 100%;
                background-color: white;
                border-radius: 2rem;            
                padding: 1rem;
                cursor: pointer;
                transition: all .2s;

                &.clicado {
                    border: .1rem solid red;
                }

                &:hover {
                    transform: translateY(-1rem);
                    box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
                }

                &-image {
                    width: 9rem;
                }

                &-title {
                    width: 60%;
                    text-align: center;
                }
            }
        }
    }
}