.navbar {
    @media screen and (max-width: 480px) {
        &-logo {
            & svg {
                width: 60%;
                fill: #8F7EF3;
            }
        }

        &-mobile-bars {
            display: block;
            position: relative;
            z-index: 300;

            &-icon {
                width: 3rem;
                fill: black;
            }
        }

        &-aside {
            position: absolute;
            z-index: 200;
            right: -90%;
            top: 0;
            display: flex;
            flex-direction: column;
            gap: 2rem;
            background-color: white;
            width: 75%;
            height: 100vh;
            padding: 3rem;
            border-radius: 2rem 0 0 2rem;

            &.visible {
                animation: .4s openAsideMobile ease-in-out forwards;
            }
    
            &.fade-out-animation {
                animation: .4s closeAsideMobile ease-in-out;
            }

            &-user {
                &-icon-informations {
        
                    &-img {
                        width: 6rem;
                    }
    
                    &-texts {
                        display: flex;
                        flex-direction: column;

                        &-name {
                            font-size: 1.6rem;
                        }
                    }
                }
            }
        }    

        &-list {
            position: absolute;
            height: 100vh;
            width: 100%;
            background-color: white;
            z-index: 10;
            bottom: 0;
            left: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 3rem;
            

            &.active {
                animation: .5s slideToRight ease-in-out;
                left: 0;
            }

            &.deactive {
                animation: .5s slideToLeft ease-in-out;
            }
        }
    }
}