.navbar {
    &-aside {
        position: absolute;
        z-index: 200;
        right: -30%;
        top: 0;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        background-color: white;
        width: 25%;
        height: 100vh;
        padding: 3rem;
        border-radius: 2rem 0 0 2rem;

        &.visible {
            animation: .4s openAside ease-in-out forwards;
        }

        &.fade-out-animation {
            animation: .4s closeAside ease-in-out;
        }

        &-toogle {
            position: absolute;
            right: 100%;
            display: flex;
            background-color: white;
            border-radius: 2rem 0 0 2rem;
            padding: 1rem;
            cursor: pointer;

            &-svg {
                width: 3rem;
            }
        }

        &-user {

            &-icon-informations {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                height: fit-content;
                padding-bottom: 2rem;
                gap: 2rem;
                border-bottom: .1rem solid rgba(128, 128, 128, 0.418);
    
                &-img {
                    width: 7rem;
                    border-radius: 50%;
                    height: fit-content;
                }

                &-texts {
                    display: flex;
                    flex-direction: column;
                }
            }

            &-history {
                display: flex;
                flex-direction: column;
                gap: 2rem;
                border-bottom: .1rem solid rgba(128, 128, 128, 0.418);
                padding-bottom: 2rem;

                &-list {
                    display: flex;
                    flex-direction: column;
                    list-style: none;

                    &-item {
                        display: flex;
                        flex-direction: column;
                        gap: .2rem;
                        background-color: rgba(83, 83, 83, 0.158);
                        padding: 1.5rem;
                        border-radius: 1rem;

                        &-title {
                            font-size: 1.5rem;
                        }

                        &-paragraph {
                            font-size: 1.1rem;
                        }
                    }
                }
            }

            &-logout {
                width: 100%;
                text-align: center;

                &-button {
                    @include button;
                }
            }
        }   
    }
}