<div class="navbar__container">
    <div class="navbar-logo">
        <h1>GPT4ENEM</h1>
    </div>

    <ul class="navbar-list">
        <li class="navbar-list-item">
            <a class="navbar-list-item-link" href="">Inicio</a>
        </li>
        <li class="navbar-list-item">
            <a  class="navbar-list-item-link" href="">Sobre</a>
        </li>
        <li class="navbar-list-item">
            <a  class="navbar-list-item-link" href="">Serviços</a>
        </li>
        <li class="navbar-list-button">
            <a  class="navbar-list-button-link navbar-list-button-link-primary-color" href="">Entrar</a>
        </li>
    </ul>
</div>
