@import "../../../scss/abstracts/mixins";
@import "../../../scss/abstracts/variables";

.paragraph {
    &__container {
        @include paragraph;
    }

    &-text-white {
        color: white;
    }

    &-center {
        text-align: center;
    }

    @media screen and (max-width: 480px) {
        &__container {
            font-size: 1.6rem;
            text-align: justify;
        }

        &-center {
            text-align: justify;
        }
    }
}