<div class="our-services__container">
    <h2 class="our-services-title">
        Nossos Serviços
    </h2>
    <app-paragraph alignText="center" text="Oferecemos as melhores opções para otimizar seu estudo. Adapte conforme suas necessidades acadêmicas e certifique-se de seguir sua jornada educacional com nosso suporte especializado. Consulte-nos para descobrir qual serviço se adequa melhor ao seu progresso educacional."></app-paragraph>
    <ul class="our-services-list">
        <li class="our-services-list-item">
            <img class="our-services-list-item-image" src="../../../../../assets/images/documentation_12238166.png" alt="">
            <h3 class="our-services-list-item-title">Criação de Resumos</h3>
            <p class="our-services-list-item-paragraph">
                Simplifique sua rotina de estudos com resumos concisos que destacam os principais pontos das matérias.
            </p>
        </li>
        <li class="our-services-list-item"> 
            <img class="our-services-list-item-image" src="../../../../../assets/images/file_9079107.png" alt="">
            <h3 class="our-services-list-item-title">Transcrição de Audio de Video Aula</h3>
            <p class="our-services-list-item-paragraph">
                Converta facilmente o áudio das videoaulas em texto para uma revisão eficiente, adaptada ao seu estilo de aprendizado.
            </p> 
        </li>
        <li class="our-services-list-item">
            <img class="our-services-list-item-image" src="../../../../../assets/images/magnifying-glass_5719385.png" alt="">
            <h3 class="our-services-list-item-title">Verificador de Cobertura de Conteúdo ENEM</h3>
            <p class="our-services-list-item-paragraph">
                Garanta a abrangência do conteúdo nas videoaulas para o ENEM, identificando se todos os tópicos essenciais foram cobertos.
            </p>  
        </li>
    </ul>
</div>